-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."PriceInterval" AS ENUM ('ONE_TIME', 'MONTH', 'YEAR');

-- CreateTable
CREATE TABLE "public"."Attachment" (
    "id" SERIAL NOT NULL,
    "guid" TEXT NOT NULL,
    "filename" TEXT NOT NULL,
    "fileData" BYTEA NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Attachment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Category" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Category_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Course" (
    "id" SERIAL NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "imageId" TEXT,
    "categoryId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "authorId" INTEGER NOT NULL,
    "mode" INTEGER NOT NULL DEFAULT 0,
    "state" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "Course_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CoursePrice" (
    "id" SERIAL NOT NULL,
    "amount" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "currency" TEXT NOT NULL DEFAULT 'PLN',
    "isRecurring" BOOLEAN NOT NULL DEFAULT false,
    "interval" "public"."PriceInterval",
    "courseId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trialPeriodDays" INTEGER,
    "trialPeriodEnd" TIMESTAMP(6),
    "trialPeriodType" VARCHAR(255),

    CONSTRAINT "CoursePrice_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CoursePromoCode" (
    "id" SERIAL NOT NULL,
    "courseId" INTEGER NOT NULL,
    "promoCodeId" INTEGER NOT NULL,

    CONSTRAINT "CoursePromoCode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EducationalPath" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR(255) NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "imageId" VARCHAR(255),
    "mode" INTEGER NOT NULL DEFAULT 0,
    "state" INTEGER NOT NULL DEFAULT 0,
    "authorId" INTEGER,
    "categoryId" INTEGER,

    CONSTRAINT "EducationalPath_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EducationalPathCourse" (
    "id" SERIAL NOT NULL,
    "educationalPathId" INTEGER NOT NULL,
    "courseId" INTEGER NOT NULL,
    "position" INTEGER NOT NULL,

    CONSTRAINT "EducationalPathCourse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EducationalPathPrice" (
    "id" SERIAL NOT NULL,
    "amount" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "currency" VARCHAR(10) NOT NULL DEFAULT 'PLN',
    "isRecurring" BOOLEAN NOT NULL DEFAULT false,
    "interval" VARCHAR(10),
    "educationalPathId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trialPeriodDays" INTEGER,
    "trialPeriodEnd" TIMESTAMP(6),
    "trialPeriodType" VARCHAR(10),

    CONSTRAINT "EducationalPathPrice_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EducationalPathPromoCode" (
    "id" SERIAL NOT NULL,
    "educationalPathId" INTEGER NOT NULL,
    "promoCodeId" INTEGER NOT NULL,

    CONSTRAINT "EducationalPathPromoCode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EducationalPathPurchase" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "educationalPathId" INTEGER NOT NULL,
    "purchaseDate" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "paymentId" VARCHAR(255),
    "eventType" VARCHAR(100),
    "amount" DECIMAL(10,2),
    "currency" VARCHAR(10),
    "paymentStatus" VARCHAR(50),
    "paymentMethod" VARCHAR(100),
    "subscriptionId" VARCHAR(255),
    "isRecurring" BOOLEAN NOT NULL DEFAULT false,
    "subscriptionStatus" VARCHAR(50),
    "currentPeriodStart" TIMESTAMP(6),
    "currentPeriodEnd" TIMESTAMP(6),
    "trialStart" TIMESTAMP(6),
    "trialEnd" TIMESTAMP(6),
    "customerEmail" VARCHAR(255),
    "vatInvoiceRequested" BOOLEAN,
    "invoiceId" VARCHAR(255),
    "receiptUrl" TEXT,
    "refundedAmount" DECIMAL(10,2),
    "refundReason" VARCHAR(255),
    "metadata" JSONB,
    "stripeCustomerId" VARCHAR(255),
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "EducationalPathPurchase_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Module" (
    "id" SERIAL NOT NULL,
    "position" INTEGER NOT NULL,
    "courseId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "title" TEXT NOT NULL,
    "state" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "Module_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ModuleContent" (
    "id" SERIAL NOT NULL,
    "guid" TEXT NOT NULL,
    "data" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "moduleId" INTEGER,

    CONSTRAINT "ModuleContent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."PromoCode" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "discount" INTEGER NOT NULL,
    "description" TEXT,
    "expirationDate" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PromoCode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Role" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "Role_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StripeCustomer" (
    "id" SERIAL NOT NULL,
    "stripeCustomerId" TEXT NOT NULL,
    "userId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StripeCustomer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."User" (
    "id" SERIAL NOT NULL,
    "providerId" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "firstName" TEXT,
    "lastName" TEXT,
    "displayName" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "roleId" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."UserCourse" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "courseId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "state" INTEGER NOT NULL DEFAULT 0,
    "roleId" INTEGER DEFAULT 0,

    CONSTRAINT "UserCourse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."UserCoursePurchase" (
    "id" SERIAL NOT NULL,
    "userCourseId" INTEGER NOT NULL,
    "paymentId" TEXT,
    "purchaseDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "eventType" VARCHAR(100),
    "amount" DECIMAL(10,2),
    "currency" VARCHAR(10),
    "paymentStatus" VARCHAR(50),
    "paymentMethod" VARCHAR(100),
    "subscriptionId" VARCHAR(255),
    "isRecurring" BOOLEAN NOT NULL DEFAULT false,
    "subscriptionStatus" VARCHAR(50),
    "currentPeriodStart" TIMESTAMP(6),
    "currentPeriodEnd" TIMESTAMP(6),
    "trialStart" TIMESTAMP(6),
    "trialEnd" TIMESTAMP(6),
    "customerEmail" VARCHAR(255),
    "vatInvoiceRequested" BOOLEAN,
    "invoiceId" VARCHAR(255),
    "receiptUrl" TEXT,
    "refundedAmount" DECIMAL(10,2),
    "refundReason" VARCHAR(255),
    "metadata" JSONB,
    "stripeCustomerId" VARCHAR(255),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserCoursePurchase_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."UserEducationalPath" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "educationalPathId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL,
    "state" INTEGER NOT NULL DEFAULT 0,
    "roleId" INTEGER DEFAULT 0,

    CONSTRAINT "UserEducationalPath_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."UserModule" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "moduleId" INTEGER NOT NULL,
    "isOpen" BOOLEAN NOT NULL DEFAULT false,
    "isFinished" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserModule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Wishlist" (
    "id" SERIAL NOT NULL,
    "name" TEXT,
    "contact" TEXT,

    CONSTRAINT "Wishlist_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Attachment_guid_key" ON "public"."Attachment"("guid");

-- CreateIndex
CREATE UNIQUE INDEX "Category_name_key" ON "public"."Category"("name");

-- CreateIndex
CREATE INDEX "Course_authorId_idx" ON "public"."Course"("authorId");

-- CreateIndex
CREATE INDEX "Course_categoryId_idx" ON "public"."Course"("categoryId");

-- CreateIndex
CREATE UNIQUE INDEX "CoursePrice_courseId_key" ON "public"."CoursePrice"("courseId");

-- CreateIndex
CREATE UNIQUE INDEX "CoursePromoCode_unique" ON "public"."CoursePromoCode"("courseId", "promoCodeId");

-- CreateIndex
CREATE INDEX "EducationalPath_authorId_idx" ON "public"."EducationalPath"("authorId");

-- CreateIndex
CREATE INDEX "EducationalPath_categoryId_idx" ON "public"."EducationalPath"("categoryId");

-- CreateIndex
CREATE INDEX "EducationalPathCourse_courseId_idx" ON "public"."EducationalPathCourse"("courseId");

-- CreateIndex
CREATE INDEX "EducationalPathCourse_educationalPathId_idx" ON "public"."EducationalPathCourse"("educationalPathId");

-- CreateIndex
CREATE UNIQUE INDEX "EducationalPathCourse_unique" ON "public"."EducationalPathCourse"("educationalPathId", "courseId");

-- CreateIndex
CREATE UNIQUE INDEX "EducationalPathPrice_educationalPathId_key" ON "public"."EducationalPathPrice"("educationalPathId");

-- CreateIndex
CREATE UNIQUE INDEX "EducationalPathPromoCode_unique" ON "public"."EducationalPathPromoCode"("educationalPathId", "promoCodeId");

-- CreateIndex
CREATE INDEX "EducationalPathPurchase_customerEmail_idx" ON "public"."EducationalPathPurchase"("customerEmail");

-- CreateIndex
CREATE INDEX "EducationalPathPurchase_educationalPathId_idx" ON "public"."EducationalPathPurchase"("educationalPathId");

-- CreateIndex
CREATE INDEX "EducationalPathPurchase_paymentId_idx" ON "public"."EducationalPathPurchase"("paymentId");

-- CreateIndex
CREATE INDEX "EducationalPathPurchase_subscriptionId_idx" ON "public"."EducationalPathPurchase"("subscriptionId");

-- CreateIndex
CREATE INDEX "EducationalPathPurchase_userId_idx" ON "public"."EducationalPathPurchase"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "EducationalPathPurchase_unique" ON "public"."EducationalPathPurchase"("userId", "educationalPathId");

-- CreateIndex
CREATE INDEX "Module_courseId_idx" ON "public"."Module"("courseId");

-- CreateIndex
CREATE UNIQUE INDEX "ModuleContent_guid_key" ON "public"."ModuleContent"("guid");

-- CreateIndex
CREATE UNIQUE INDEX "ModuleContent_moduleId_key" ON "public"."ModuleContent"("moduleId");

-- CreateIndex
CREATE INDEX "ModuleContent_moduleId_idx" ON "public"."ModuleContent"("moduleId");

-- CreateIndex
CREATE UNIQUE INDEX "Role_name_key" ON "public"."Role"("name");

-- CreateIndex
CREATE UNIQUE INDEX "StripeCustomer_stripeCustomerId_key" ON "public"."StripeCustomer"("stripeCustomerId");

-- CreateIndex
CREATE UNIQUE INDEX "StripeCustomer_userId_key" ON "public"."StripeCustomer"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "User_providerId_key" ON "public"."User"("providerId");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email");

-- CreateIndex
CREATE INDEX "User_roleId_idx" ON "public"."User"("roleId");

-- CreateIndex
CREATE INDEX "UserCourse_courseId_idx" ON "public"."UserCourse"("courseId");

-- CreateIndex
CREATE INDEX "UserCourse_roleId_idx" ON "public"."UserCourse"("roleId");

-- CreateIndex
CREATE INDEX "UserCourse_userId_idx" ON "public"."UserCourse"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "UserCourse_userId_courseId_key" ON "public"."UserCourse"("userId", "courseId");

-- CreateIndex
CREATE UNIQUE INDEX "UserCoursePurchase_userCourseId_key" ON "public"."UserCoursePurchase"("userCourseId");

-- CreateIndex
CREATE INDEX "UserCoursePurchase_customerEmail_idx" ON "public"."UserCoursePurchase"("customerEmail");

-- CreateIndex
CREATE INDEX "UserCoursePurchase_paymentId_idx" ON "public"."UserCoursePurchase"("paymentId");

-- CreateIndex
CREATE INDEX "UserCoursePurchase_subscriptionId_idx" ON "public"."UserCoursePurchase"("subscriptionId");

-- CreateIndex
CREATE INDEX "UserEducationalPath_educationalPathId_idx" ON "public"."UserEducationalPath"("educationalPathId");

-- CreateIndex
CREATE INDEX "UserEducationalPath_roleId_idx" ON "public"."UserEducationalPath"("roleId");

-- CreateIndex
CREATE INDEX "UserEducationalPath_userId_idx" ON "public"."UserEducationalPath"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "UserEducationalPath_userId_educationalPathId_unique" ON "public"."UserEducationalPath"("userId", "educationalPathId");

-- CreateIndex
CREATE INDEX "UserModule_moduleId_idx" ON "public"."UserModule"("moduleId");

-- CreateIndex
CREATE INDEX "UserModule_userId_idx" ON "public"."UserModule"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "UserModule_userId_moduleId_key" ON "public"."UserModule"("userId", "moduleId");

