-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."PriceInterval" AS ENUM ('ONE_TIME', 'MONTH', 'YEAR');

-- CreateEnum
CREATE TYPE "public"."CommunicationPlatform" AS ENUM ('WHATSAPP', 'TELEGRAM', 'DISCORD', 'SLACK', 'TEAMS', 'ZOOM', 'CUSTOM');

-- CreateEnum
CREATE TYPE "public"."NotificationStatus" AS ENUM ('PENDING', 'SENT', 'FAILED', 'SKIPPED');

-- CreateTable
CREATE TABLE "public"."Attachment" (
    "id" SERIAL NOT NULL,
    "guid" TEXT NOT NULL,
    "filename" TEXT NOT NULL,
    "fileData" BYTEA NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Attachment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Category" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Category_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Course" (
    "id" SERIAL NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "imageId" TEXT,
    "categoryId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "authorId" INTEGER NOT NULL,
    "schoolId" INTEGER,
    "mode" INTEGER NOT NULL DEFAULT 0,
    "state" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "Course_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CoursePrice" (
    "id" SERIAL NOT NULL,
    "amount" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "currency" TEXT NOT NULL DEFAULT 'PLN',
    "isRecurring" BOOLEAN NOT NULL DEFAULT false,
    "interval" "public"."PriceInterval",
    "courseId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trialPeriodDays" INTEGER,
    "trialPeriodEnd" TIMESTAMP(6),
    "trialPeriodType" VARCHAR(255),
    "vatRate" DECIMAL(5,2) NOT NULL DEFAULT 23,

    CONSTRAINT "CoursePrice_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CoursePromoCode" (
    "id" SERIAL NOT NULL,
    "courseId" INTEGER NOT NULL,
    "promoCodeId" INTEGER NOT NULL,

    CONSTRAINT "CoursePromoCode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EducationalPath" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR(255) NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "imageId" VARCHAR(255),
    "mode" INTEGER NOT NULL DEFAULT 0,
    "state" INTEGER NOT NULL DEFAULT 0,
    "authorId" INTEGER,
    "schoolId" INTEGER,
    "categoryId" INTEGER,

    CONSTRAINT "EducationalPath_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EducationalPathCourse" (
    "id" SERIAL NOT NULL,
    "educationalPathId" INTEGER NOT NULL,
    "courseId" INTEGER NOT NULL,
    "position" INTEGER NOT NULL,

    CONSTRAINT "EducationalPathCourse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EducationalPathPrice" (
    "id" SERIAL NOT NULL,
    "amount" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "currency" VARCHAR(10) NOT NULL DEFAULT 'PLN',
    "isRecurring" BOOLEAN NOT NULL DEFAULT false,
    "interval" VARCHAR(10),
    "educationalPathId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trialPeriodDays" INTEGER,
    "trialPeriodEnd" TIMESTAMP(6),
    "trialPeriodType" VARCHAR(10),
    "vatRate" DECIMAL(5,2) NOT NULL DEFAULT 23,

    CONSTRAINT "EducationalPathPrice_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EducationalPathPromoCode" (
    "id" SERIAL NOT NULL,
    "educationalPathId" INTEGER NOT NULL,
    "promoCodeId" INTEGER NOT NULL,

    CONSTRAINT "EducationalPathPromoCode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EducationalPathPurchase" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "educationalPathId" INTEGER NOT NULL,
    "purchaseDate" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "paymentId" VARCHAR(255),
    "eventType" VARCHAR(100),
    "amount" DECIMAL(10,2),
    "currency" VARCHAR(10),
    "paymentStatus" VARCHAR(50),
    "paymentMethod" VARCHAR(100),
    "subscriptionId" VARCHAR(255),
    "isRecurring" BOOLEAN NOT NULL DEFAULT false,
    "subscriptionStatus" VARCHAR(50),
    "currentPeriodStart" TIMESTAMP(6),
    "currentPeriodEnd" TIMESTAMP(6),
    "trialStart" TIMESTAMP(6),
    "trialEnd" TIMESTAMP(6),
    "customerEmail" VARCHAR(255),
    "invoiceId" VARCHAR(255),
    "receiptUrl" TEXT,
    "refundedAmount" DECIMAL(10,2),
    "refundReason" VARCHAR(255),
    "metadata" JSONB,
    "stripeCustomerId" VARCHAR(255),
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "EducationalPathPurchase_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Module" (
    "id" SERIAL NOT NULL,
    "position" INTEGER NOT NULL,
    "courseId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "title" TEXT NOT NULL,
    "state" INTEGER NOT NULL DEFAULT 0,
    "publishedAt" TIMESTAMP(3),

    CONSTRAINT "Module_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ModuleContent" (
    "id" SERIAL NOT NULL,
    "guid" TEXT NOT NULL,
    "data" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "moduleId" INTEGER,

    CONSTRAINT "ModuleContent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."PromoCode" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "discount" INTEGER NOT NULL,
    "description" TEXT,
    "expirationDate" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PromoCode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Role" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "Role_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StripeCustomer" (
    "id" SERIAL NOT NULL,
    "stripeCustomerId" TEXT NOT NULL,
    "userId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StripeCustomer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."User" (
    "id" SERIAL NOT NULL,
    "providerId" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "firstName" TEXT,
    "lastName" TEXT,
    "displayName" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "roleId" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."schools" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "companyName" TEXT NOT NULL,
    "taxId" TEXT NOT NULL,
    "ownerId" INTEGER NOT NULL,
    "stripeAccountId" TEXT,
    "stripeAccountStatus" TEXT DEFAULT 'pending',
    "stripeOnboardingComplete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "schools_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."school_teachers" (
    "id" SERIAL NOT NULL,
    "schoolId" INTEGER NOT NULL,
    "teacherId" INTEGER NOT NULL,
    "addedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "school_teachers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."teacher_join_requests" (
    "id" SERIAL NOT NULL,
    "teacherId" INTEGER NOT NULL,
    "schoolId" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "requestedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "respondedAt" TIMESTAMP(3),
    "rejectionReason" TEXT,

    CONSTRAINT "teacher_join_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."UserCourse" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "courseId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "state" INTEGER NOT NULL DEFAULT 0,
    "roleId" INTEGER DEFAULT 0,

    CONSTRAINT "UserCourse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."UserCoursePurchase" (
    "id" SERIAL NOT NULL,
    "userCourseId" INTEGER NOT NULL,
    "paymentId" TEXT,
    "purchaseDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "eventType" VARCHAR(100),
    "amount" DECIMAL(10,2),
    "currency" VARCHAR(10),
    "paymentStatus" VARCHAR(50),
    "paymentMethod" VARCHAR(100),
    "subscriptionId" VARCHAR(255),
    "isRecurring" BOOLEAN NOT NULL DEFAULT false,
    "subscriptionStatus" VARCHAR(50),
    "currentPeriodStart" TIMESTAMP(6),
    "currentPeriodEnd" TIMESTAMP(6),
    "trialStart" TIMESTAMP(6),
    "trialEnd" TIMESTAMP(6),
    "customerEmail" VARCHAR(255),
    "invoiceId" VARCHAR(255),
    "receiptUrl" TEXT,
    "refundedAmount" DECIMAL(10,2),
    "refundReason" VARCHAR(255),
    "metadata" JSONB,
    "stripeCustomerId" VARCHAR(255),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserCoursePurchase_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."UserEducationalPath" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "educationalPathId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL,
    "state" INTEGER NOT NULL DEFAULT 0,
    "roleId" INTEGER DEFAULT 0,

    CONSTRAINT "UserEducationalPath_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."UserModule" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "moduleId" INTEGER NOT NULL,
    "isOpen" BOOLEAN NOT NULL DEFAULT false,
    "isFinished" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserModule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Wishlist" (
    "id" SERIAL NOT NULL,
    "name" TEXT,
    "contact" TEXT,

    CONSTRAINT "Wishlist_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."platform_fee_configs" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "individualMonthlyFee" DECIMAL(10,2) NOT NULL DEFAULT 19,
    "schoolYearlyFee" DECIMAL(10,2) NOT NULL DEFAULT 1199,
    "currency" TEXT NOT NULL DEFAULT 'PLN',
    "trialPeriodDays" INTEGER NOT NULL DEFAULT 90,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "platform_fee_configs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."teacher_platform_subscriptions" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "subscriptionType" TEXT NOT NULL,
    "paymentId" TEXT,
    "eventType" VARCHAR(100),
    "amount" DECIMAL(10,2),
    "currency" VARCHAR(10),
    "paymentStatus" VARCHAR(50),
    "paymentMethod" VARCHAR(100),
    "subscriptionId" VARCHAR(255),
    "isRecurring" BOOLEAN NOT NULL DEFAULT true,
    "subscriptionStatus" VARCHAR(50),
    "currentPeriodStart" TIMESTAMP(3),
    "currentPeriodEnd" TIMESTAMP(3),
    "trialStart" TIMESTAMP(3),
    "trialEnd" TIMESTAMP(3),
    "customerEmail" VARCHAR(255),
    "invoiceId" VARCHAR(255),
    "receiptUrl" TEXT,
    "refundedAmount" DECIMAL(10,2),
    "refundReason" VARCHAR(255),
    "metadata" JSONB,
    "stripeCustomerId" VARCHAR(255),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "teacher_platform_subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CourseCommunication" (
    "id" SERIAL NOT NULL,
    "courseId" INTEGER NOT NULL,
    "platform" "public"."CommunicationPlatform" NOT NULL,
    "link" VARCHAR(500) NOT NULL,
    "label" VARCHAR(100),
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CourseCommunication_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."NotificationSchedule" (
    "id" SERIAL NOT NULL,
    "schoolId" INTEGER NOT NULL,
    "title" VARCHAR(255) NOT NULL,
    "message" TEXT NOT NULL,
    "cronExpression" VARCHAR(100) NOT NULL,
    "isEnabled" BOOLEAN NOT NULL DEFAULT true,
    "notificationType" VARCHAR(50) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "lastSentAt" TIMESTAMP(3),

    CONSTRAINT "NotificationSchedule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."NotificationSentLog" (
    "id" SERIAL NOT NULL,
    "notificationScheduleId" INTEGER NOT NULL,
    "recipientEmail" VARCHAR(255) NOT NULL,
    "recipientUserId" INTEGER NOT NULL,
    "sentAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" "public"."NotificationStatus" NOT NULL DEFAULT 'PENDING',
    "errorMessage" TEXT,

    CONSTRAINT "NotificationSentLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Attachment_guid_key" ON "public"."Attachment"("guid");

-- CreateIndex
CREATE UNIQUE INDEX "Category_name_key" ON "public"."Category"("name");

-- CreateIndex
CREATE INDEX "Course_authorId_idx" ON "public"."Course"("authorId");

-- CreateIndex
CREATE INDEX "Course_categoryId_idx" ON "public"."Course"("categoryId");

-- CreateIndex
CREATE INDEX "Course_schoolId_idx" ON "public"."Course"("schoolId");

-- CreateIndex
CREATE UNIQUE INDEX "CoursePrice_courseId_key" ON "public"."CoursePrice"("courseId");

-- CreateIndex
CREATE UNIQUE INDEX "CoursePromoCode_unique" ON "public"."CoursePromoCode"("courseId", "promoCodeId");

-- CreateIndex
CREATE INDEX "EducationalPath_authorId_idx" ON "public"."EducationalPath"("authorId");

-- CreateIndex
CREATE INDEX "EducationalPath_categoryId_idx" ON "public"."EducationalPath"("categoryId");

-- CreateIndex
CREATE INDEX "EducationalPath_schoolId_idx" ON "public"."EducationalPath"("schoolId");

-- CreateIndex
CREATE INDEX "EducationalPathCourse_courseId_idx" ON "public"."EducationalPathCourse"("courseId");

-- CreateIndex
CREATE INDEX "EducationalPathCourse_educationalPathId_idx" ON "public"."EducationalPathCourse"("educationalPathId");

-- CreateIndex
CREATE UNIQUE INDEX "EducationalPathCourse_unique" ON "public"."EducationalPathCourse"("educationalPathId", "courseId");

-- CreateIndex
CREATE UNIQUE INDEX "EducationalPathPrice_educationalPathId_key" ON "public"."EducationalPathPrice"("educationalPathId");

-- CreateIndex
CREATE UNIQUE INDEX "EducationalPathPromoCode_unique" ON "public"."EducationalPathPromoCode"("educationalPathId", "promoCodeId");

-- CreateIndex
CREATE INDEX "EducationalPathPurchase_customerEmail_idx" ON "public"."EducationalPathPurchase"("customerEmail");

-- CreateIndex
CREATE INDEX "EducationalPathPurchase_educationalPathId_idx" ON "public"."EducationalPathPurchase"("educationalPathId");

-- CreateIndex
CREATE INDEX "EducationalPathPurchase_paymentId_idx" ON "public"."EducationalPathPurchase"("paymentId");

-- CreateIndex
CREATE INDEX "EducationalPathPurchase_subscriptionId_idx" ON "public"."EducationalPathPurchase"("subscriptionId");

-- CreateIndex
CREATE INDEX "EducationalPathPurchase_userId_idx" ON "public"."EducationalPathPurchase"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "EducationalPathPurchase_unique" ON "public"."EducationalPathPurchase"("userId", "educationalPathId");

-- CreateIndex
CREATE INDEX "Module_courseId_idx" ON "public"."Module"("courseId");

-- CreateIndex
CREATE INDEX "Module_publishedAt_idx" ON "public"."Module"("publishedAt");

-- CreateIndex
CREATE UNIQUE INDEX "ModuleContent_guid_key" ON "public"."ModuleContent"("guid");

-- CreateIndex
CREATE UNIQUE INDEX "ModuleContent_moduleId_key" ON "public"."ModuleContent"("moduleId");

-- CreateIndex
CREATE INDEX "ModuleContent_moduleId_idx" ON "public"."ModuleContent"("moduleId");

-- CreateIndex
CREATE UNIQUE INDEX "Role_name_key" ON "public"."Role"("name");

-- CreateIndex
CREATE UNIQUE INDEX "StripeCustomer_stripeCustomerId_key" ON "public"."StripeCustomer"("stripeCustomerId");

-- CreateIndex
CREATE UNIQUE INDEX "StripeCustomer_userId_key" ON "public"."StripeCustomer"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "User_providerId_key" ON "public"."User"("providerId");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email");

-- CreateIndex
CREATE INDEX "User_roleId_idx" ON "public"."User"("roleId");

-- CreateIndex
CREATE INDEX "schools_ownerId_idx" ON "public"."schools"("ownerId");

-- CreateIndex
CREATE INDEX "schools_stripeAccountId_idx" ON "public"."schools"("stripeAccountId");

-- CreateIndex
CREATE INDEX "school_teachers_schoolId_idx" ON "public"."school_teachers"("schoolId");

-- CreateIndex
CREATE INDEX "school_teachers_teacherId_idx" ON "public"."school_teachers"("teacherId");

-- CreateIndex
CREATE UNIQUE INDEX "school_teachers_schoolId_teacherId_key" ON "public"."school_teachers"("schoolId", "teacherId");

-- CreateIndex
CREATE INDEX "teacher_join_requests_teacherId_idx" ON "public"."teacher_join_requests"("teacherId");

-- CreateIndex
CREATE INDEX "teacher_join_requests_schoolId_idx" ON "public"."teacher_join_requests"("schoolId");

-- CreateIndex
CREATE INDEX "teacher_join_requests_status_idx" ON "public"."teacher_join_requests"("status");

-- CreateIndex
CREATE UNIQUE INDEX "teacher_join_requests_teacherId_schoolId_key" ON "public"."teacher_join_requests"("teacherId", "schoolId");

-- CreateIndex
CREATE INDEX "UserCourse_courseId_idx" ON "public"."UserCourse"("courseId");

-- CreateIndex
CREATE INDEX "UserCourse_roleId_idx" ON "public"."UserCourse"("roleId");

-- CreateIndex
CREATE INDEX "UserCourse_userId_idx" ON "public"."UserCourse"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "UserCourse_userId_courseId_key" ON "public"."UserCourse"("userId", "courseId");

-- CreateIndex
CREATE UNIQUE INDEX "UserCoursePurchase_userCourseId_key" ON "public"."UserCoursePurchase"("userCourseId");

-- CreateIndex
CREATE INDEX "UserCoursePurchase_customerEmail_idx" ON "public"."UserCoursePurchase"("customerEmail");

-- CreateIndex
CREATE INDEX "UserCoursePurchase_paymentId_idx" ON "public"."UserCoursePurchase"("paymentId");

-- CreateIndex
CREATE INDEX "UserCoursePurchase_subscriptionId_idx" ON "public"."UserCoursePurchase"("subscriptionId");

-- CreateIndex
CREATE INDEX "UserEducationalPath_educationalPathId_idx" ON "public"."UserEducationalPath"("educationalPathId");

-- CreateIndex
CREATE INDEX "UserEducationalPath_roleId_idx" ON "public"."UserEducationalPath"("roleId");

-- CreateIndex
CREATE INDEX "UserEducationalPath_userId_idx" ON "public"."UserEducationalPath"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "UserEducationalPath_userId_educationalPathId_unique" ON "public"."UserEducationalPath"("userId", "educationalPathId");

-- CreateIndex
CREATE INDEX "UserModule_moduleId_idx" ON "public"."UserModule"("moduleId");

-- CreateIndex
CREATE INDEX "UserModule_userId_idx" ON "public"."UserModule"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "UserModule_userId_moduleId_key" ON "public"."UserModule"("userId", "moduleId");

-- CreateIndex
CREATE UNIQUE INDEX "platform_fee_configs_name_key" ON "public"."platform_fee_configs"("name");

-- CreateIndex
CREATE UNIQUE INDEX "teacher_platform_subscriptions_userId_key" ON "public"."teacher_platform_subscriptions"("userId");

-- CreateIndex
CREATE INDEX "teacher_platform_subscriptions_userId_idx" ON "public"."teacher_platform_subscriptions"("userId");

-- CreateIndex
CREATE INDEX "teacher_platform_subscriptions_subscriptionId_idx" ON "public"."teacher_platform_subscriptions"("subscriptionId");

-- CreateIndex
CREATE INDEX "teacher_platform_subscriptions_paymentId_idx" ON "public"."teacher_platform_subscriptions"("paymentId");

-- CreateIndex
CREATE INDEX "teacher_platform_subscriptions_customerEmail_idx" ON "public"."teacher_platform_subscriptions"("customerEmail");

-- CreateIndex
CREATE INDEX "CourseCommunication_courseId_idx" ON "public"."CourseCommunication"("courseId");

-- CreateIndex
CREATE INDEX "CourseCommunication_platform_idx" ON "public"."CourseCommunication"("platform");

-- CreateIndex
CREATE UNIQUE INDEX "CourseCommunication_courseId_platform_label_key" ON "public"."CourseCommunication"("courseId", "platform", "label");

-- CreateIndex
CREATE INDEX "NotificationSchedule_schoolId_idx" ON "public"."NotificationSchedule"("schoolId");

-- CreateIndex
CREATE INDEX "NotificationSchedule_isEnabled_idx" ON "public"."NotificationSchedule"("isEnabled");

-- CreateIndex
CREATE INDEX "NotificationSchedule_cronExpression_idx" ON "public"."NotificationSchedule"("cronExpression");

-- CreateIndex
CREATE INDEX "NotificationSentLog_notificationScheduleId_idx" ON "public"."NotificationSentLog"("notificationScheduleId");

-- CreateIndex
CREATE INDEX "NotificationSentLog_recipientUserId_idx" ON "public"."NotificationSentLog"("recipientUserId");

-- CreateIndex
CREATE INDEX "NotificationSentLog_sentAt_idx" ON "public"."NotificationSentLog"("sentAt");

-- CreateIndex
CREATE INDEX "NotificationSentLog_status_idx" ON "public"."NotificationSentLog"("status");

